
.about-container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin-bottom: 20px;
}
  
  
.about-hero {
  text-align: center;
  padding: 40px 20px; 
  background-color: #f4f4f4; 
  margin-bottom: 10px;
}
  
.about-hero h1 {
  color: #2c3e50;
  font-size: 3rem; 
  margin-bottom: 10px;
}
  
.about-tagline {
  color: #34495e;
  font-size: 1.2rem;
}
  
  
.about-intro, .about-vision-mission, .about-values {
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
  margin: 10px 0;
}
  
.vision-section, .mission-section {
  padding: 20px;
  background-color: #f9f9f9;
}
  
.values-list {
  list-style-type: disc;
  margin-left: 20px;
  text-align: left;
}
  
.values-list li {
  margin: 5px 0;
  font-size: 1.1rem;
  color: #555;
}

/* Ensuring all images scale well on different devices */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Styling for the Hero Image */
.hero-image {
  width: 100%;
  height: 400px; /* Adjust height based on your preference */
  object-fit: cover;
}

/* Styling for the Intro Image */
.intro-image {
  width: 40%;
  height: auto;
  margin-top: 20px;
}

/* Vision and Mission Image */
.vision-mission-image {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

/* CEO Image */
.ceo-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  float: left;
}

/* Values Image */
.values-image {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

/* Team Image */
.team-image {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
