
.contact-container {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    padding: 20px;
    max-width: 1900px; 
    background-color: #fefefe; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  .contact-hero {
    margin-bottom: 15px; 
  }
  
  .contact-hero h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 10px;
  }
  
  .contact-intro {
    font-size: 1.2rem;
    color: #555; 
    margin-bottom: 20px;
  }
  
  
  .contact-details {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    align-items: center;
  }
  
  .address-section,
  .contact-info {
    width: 100%;
    padding: 15px;
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: left; 
  }
  
  .address-section h2,
  .contact-info h2 {
    font-size: 1.5rem;
    color: #27ae60; 
    margin-bottom: 10px;
  }
  
  .address-section p,
  .contact-info p {
    margin: 5px 0;
    color: #34495e;
    font-size: 1rem;
  }
  
  
  .contact-form {
    width: 100%;
    margin-top: 20px;
    margin-left: -10px;
  }
  
  .contact-form h2 {
    font-size: 1.8rem;
    color: #2c3e50;
    margin-bottom: 15px;
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 100%;
    
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #27ae60;
    box-shadow: 0 0 5px rgba(39, 174, 96, 0.5);
    outline: none;
  }
  
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #27ae60;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #2ecc71;
  }
  
  
  
  