/* Hero Section */
.hero-section {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    margin-bottom: 220px;
  }
  
  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Projects Section */
  .projects {
    padding: 40px 20px;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: -200px;
  }
  
  .projects h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #2c3e50;
    animation: fadeInDown 1s ease-in-out;
  }
  
  .projects p {
    font-size: 1.5rem;
    color: #555;
    animation: fadeInUp 1s ease-in-out;
  }
  
  .project-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 40px auto;
    padding: 20px;
    max-width: 2000px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .project {
    flex: 1;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .project:hover {
    background-color: rgb(218, 217, 217);
  }
  
  .project img {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .project h3 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 10px;
  }
  
  .project p {
    font-size: 1rem;
    color: #555;
  }
  
  /* Content Sections */
  .content-section {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
    background-color: #f9f9f9;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .content-section .image {
    flex: 1;
    text-align: center;
  }
  
  .content-section .image img {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .content-section .text {
    flex: 2;
    font-size: 1.1rem;
    color: #555;
  }
  
  .content-section .text h3 {
    font-size: 1.8rem;
    color: #2c3e50;
    margin-bottom: 15px;
  }
  
  .content-section .text p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 10px;
  }
  