.footer {
  background-color: #0d213d; /* Background color from the palette */
  color: #F2F2F2; /* Text color from the palette */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.footer-section {
  flex: 1;
  margin: 0 20px;
  min-width: 200px; /* Ensure sections don't get too narrow */
}

.footer-section h4 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #FEB038; /* Accent color for headings */
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footer-section ul li mat-icon {
  margin-right: 10px;
  color: #FEB038; /* Icon color from the palette */
}

.footer-link, .footer-contact {
  color: #F2F2F2; /* Text color from the palette */
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth hover effect */
}

.footer-link:hover, .footer-contact:hover {
  color: #FEB038; /* Hover color from the palette */
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: #F2F2F2; /* Icon color from the palette */
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth hover effect */
}

.social-icons a:hover {
  color: #FEB038; /* Hover color from the palette */
}

.footer-bottom {
  text-align: center;
  width: 100%;
  border-top: 1px solid #F2F2F2; /* Border color from the palette */
  padding-top: 10px;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

.location {
  padding-right: 10px;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .footer-content {
      flex-direction: column;
      align-items: center;
  }

  .footer-section {
      margin: 10px 0;
      text-align: center;
  }

  .social-icons {
      justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer {
      padding: 15px;
  }

  .footer-section h4 {
      font-size: 16px;
  }

  .footer-section ul li {
      font-size: 14px;
  }

  .footer-bottom p {
      font-size: 12px;
  }
}

/* Media Queries for Smaller Mobile Devices */
@media (max-width: 340px) {
  .footer {
      padding: 10px;
  }

  .footer-section h4 {
      font-size: 14px;
  }

  .footer-section ul li {
      font-size: 12px;
  }

  .footer-bottom p {
      font-size: 10px;
  }

  .social-icons {
      flex-direction: column;
      gap: 5px;
  }
}

.designed-by {
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: center;
}

.designed-by a {
  color: #ffd700; /* Gold color for contrast */
  text-decoration: none;
  font-weight: bold;
}

.designed-by a:hover {
  text-decoration: underline;
}