<footer class="footer">
    <div class="footer-content">
      <!-- Quick Links -->
      <div class="footer-section">
        <h4>Quick Links</h4>
        <ul>
          <li><a routerLink="/" class="footer-link">Home</a></li>
          <li><a routerLink="/about-us" class="footer-link">About Us</a></li>
          <li><a routerLink="/our-services" class="footer-link">Our Services</a></li>
          <li><a routerLink="/our-projects" class="footer-link">Our Projects</a></li>
          <li><a routerLink="/why-choose-us" class="footer-link">Why Choose Us</a></li>
          <li><a routerLink="/contact-us" class="footer-link">Contact Us</a></li>
        </ul>
      </div>
  
      <!-- Contact Information -->
      <div class="footer-section">
        <h4>Contact Information</h4>
        <ul>
          <li><mat-icon class="location">location_on</mat-icon>
            <a href="https://www.google.com/maps/search/?api=1&query=10-3-310/1, CastleHills Technopolis, Masab Tank, Hyderabad, Telangana 500028, India" target="_blank" class="footer-contact">
              10-3-310/1, CastleHills Technopolis, Masab Tank, Hyderabad, Telangana 500028, India
            </a>
          </li>
          <li><mat-icon>phone</mat-icon> <a href="tel:+919885001701" class="footer-contact">+91 988-500-1701</a></li>
          <li><mat-icon>email</mat-icon> <a href="mailto:info@eiddopower.com" class="footer-contact">info&#64;eiddopower.com</a></li>
        </ul>
      </div>
  
      <!-- Social Media Links -->
      <div class="footer-section">
        <h4>Follow Us</h4>
        <div class="social-icons">
          <a href="https://www.linkedin.com/company/eiddo-power" target="_blank" class="social-link"><mat-icon>linkedin</mat-icon></a>
          <a href="https://www.facebook.com/eiddopower" target="_blank" class="social-link"><mat-icon>facebook</mat-icon></a>
          <a href="https://instagram.com/eiddopower" target="_blank" class="social-link"><mat-icon class="twitter-icon">instagram</mat-icon></a>
        </div>
      </div>
    </div>
  
    <!-- Copyright Notice -->
    <div class="footer-bottom">
      <p>© 2023 Eiddo Power. All rights reserved.</p>
    </div>
    <div class="designed-by">
      Designed by <a href="https://luminatewebsol.com/" target="_blank">Luminate Web Solutions</a>
  </div>  
  </footer>