<!-- <mat-toolbar color="primary" class="navbar"> -->
  <!-- Logo -->
  <!-- <img src="logo.png" alt="Eiddo Power Logo" class="logo" routerLink="/"> -->

  <!-- Navigation Links -->
  <!-- <span class="nav-links">
    <a mat-button routerLink="/" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Home</a>
    <a mat-button routerLink="/about" routerLinkActive="nav-link-active" class="nav-link">About Us</a>
    <a mat-button routerLink="/services" routerLinkActive="nav-link-active" class="nav-link">Services</a> -->
    <!-- Services Dropdown
    <mat-menu #servicesMenu="matMenu">
      <button mat-menu-item routerLink="/solar-energy-solutions">Solar Energy Solutions</button>
      <button mat-menu-item routerLink="/energy-management">Energy Management</button>
      <button mat-menu-item routerLink="/ppp-projects">PPP Projects</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="servicesMenu" class="nav-link">Services</button> -->
    <!-- <a mat-button routerLink="/projects" routerLinkActive="nav-link-active" class="nav-link">Projects</a>
    <a mat-button routerLink="/whychooseus" routerLinkActive="nav-link-active" class="nav-link">Why Choose Us</a>
    <a mat-button routerLink="/contact" routerLinkActive="nav-link-active" class="nav-link">Contact Us</a>
  </span>
</mat-toolbar> -->





<mat-toolbar color="primary" class="navbar">
  <!-- Logo -->
  <img src="logo.png" alt="Eiddo Power Logo" class="logo" routerLink="/">

  <!-- Menu Icon for Mobile -->
  <div class="menu-icon" (click)="toggleMenu()">
    &#9776; <!-- Unicode for hamburger menu icon -->
  </div>

  <!-- Navigation Links -->
  <span class="nav-links" id="nav-links">
    <a mat-button routerLink="/" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Home</a>
    <a mat-button routerLink="/about" routerLinkActive="nav-link-active" class="nav-link">About Us</a>
    <a mat-button routerLink="/services" routerLinkActive="nav-link-active" class="nav-link">Services</a>
    <a mat-button routerLink="/projects" routerLinkActive="nav-link-active" class="nav-link">Projects</a>
    <a mat-button routerLink="/whychooseus" routerLinkActive="nav-link-active" class="nav-link">Why Choose Us</a>
    <a mat-button routerLink="/contact" routerLinkActive="nav-link-active" class="nav-link">Contact Us</a>
  </span>
</mat-toolbar>