.navbar {
  background-color: #0d213d; /* Background color from the palette */
  color: #F2F2F2; /* Text color from the palette */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.logo {
  height: 50px; /* Adjust as needed */
  margin-right: 16px;
  border: none; /* Remove border */
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #fdfcfb !important;  /* Updated text color */
  margin: 0 8px;
  text-decoration: none;
  font-weight: 500; /* Make text slightly bold */
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
}

.nav-link:hover {
  color: #FFD700 !important; /* Updated hover color */
  transform: translateY(-2px); /* Slight lift effect */
}

.nav-link-active {
  color: #FFD700 !important; /* Highlight color */
  font-weight: bold; /* Optional: Make the active link bold */
}

/* Dropdown button styling */
.nav-link[matMenuTriggerFor] {
  display: flex;
  align-items: center;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    position: absolute;
    top: 60px;
    right: 15px;
    padding: 10px 0;
    z-index: 100;
  }

  .nav-link {
    margin: 4px 8px; /* Decreased margin */
    width: 100%;
    text-align: left;
    background-color: #153361; /* Set background color to black */
    padding: 8px; /* Decreased padding */
    font-size: 0.6rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 8px 12px;
  }

  .logo {
    height: 40px; /* Adjust as needed */
  }

  .nav-link {
    font-size: 0.6rem; /* Adjust font size for smaller screens */
  }
}

/* Media Queries for Smaller Mobile Devices */
@media (max-width: 340px) {
  .navbar {
    padding: 6px 10px;
  }

  .logo {
    height: 35px; /* Adjust as needed */
  }

  .nav-link {
    font-size: 0.5rem; /* Decreased font size */
    margin: 4px 0; /* Decreased margin */
    padding: 6px; /* Decreased padding */
  }
}